* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato";
	color: #363636;
}

main {
	margin-top: 10vh;
	text-align: center;
}

h1 {
	font-size: 5rem;
	padding-bottom: 1rem;
}


a {
	text-decoration: none;
	outline: inherit;
	color: #0984e3;
}
p {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
